<html>
<head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ .Description }}">
    <link rel="stylesheet" href="/css/{{ index .Site.Data.css.hash "main.css" }}"/>
</head>
<body>
    <main>
    <p>Menu list</p>
    {{ partial "menu.html" . }}
    <p>Article list view:</p>
        {{ range first 10 .Data.Pages }}
        {{ if eq .Type "articles" }}
        <article>
            <h1>
                <a href="{{.URL}}">
                    {{ .Title }}
                </a>
            </h1>
            <p>{{ .Summary }}</p>
            <a href="{{.URL}}">
                Read the full article
            </a>
        </article>
        {{ end }}
        {{ end }}
    </main>
</body>
<html>
